doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Art Institute of Chicago
    body
        header
            nav-bar
        main
            block content
        footer
            .container
                .wrapper
                    div
                        img
                        p 111 S Michigan Ave
                        p Chicago
                    div
                        h3 Organization
                        ul
                            li
                                a(href="#") Contact Us
                            li
                                a(href="#") Feedback
                            li
                                a(href="#") News & Press
                            li
                                a(href="#") Organization
                            li
                                a(href="#") FAQ
                            li
                                a(href="#") Working with Us
                    div
                        h3 Museum
                        ul
                            li
                                a(href="#") Address & Opening Hours
                            li
                                a(href="#") Tickets & Prices
                            li
                                a(href="#") House Rules
                            li
                                a(href="#") Museum Shops & Cafe
                            li
                                a(href="#") Library
                    div
                        h3 Information
                        ul
                            li
                                a(href="#") Accessibility
                            li
                                a(href="#") Privacy & Cookies
                            li
                                a(href="#") Terms & Conditions
                            li
                                a(href="#") Annual Report
                            li
                                a(href="#") Use & Permission of Collection Images
                p &copy; 2021 Art Institute of Chicago