nav-bar {
  @extend %moderat-regular;
  display: flex;
  justify-content: space-between;
  align-items: center;

  form {
    padding-left: 30px;
    display: flex;
    align-items: center;

    @media (max-width: $lg) {
      padding-top: 30px;
      padding-left: 0;
    }

    input {
      @extend %moderat-regular;
      font-size: 14px;
      text-transform: uppercase;
      border: none;
      border-bottom: 2px solid $black;

      &:focus {
        outline: none;
      }

      &::placeholder {
        opacity: .5;
      }
    }

    button {
      border: none;
      border-bottom: 2px solid $black;
      background: none;
      
      &:hover {
        cursor: pointer;
      }
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: color .15s ease-out;

    &:hover {
      color: $goldenrod;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
  }

  .logo {
    background-color: $black;
    display: block;

    img {
      display: block;
      max-height: 80px;
    }
  }

  .collapse {
    display: flex;
    align-items: center;

    @media (max-width: $lg) {
      position: fixed;
      top: 0;
      left: 0;
      background-color: white;
      width: 100%;
      height: 100vh;
      transform: translate(100%);
      transition: transform .3s ease-out;
      flex-direction: column;
    }

    .navbar-nav {
      display: flex;
      list-style: none;
      padding-left: 0;

      @media (max-width: $lg) {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
      }
    }

    .nav-item {
      padding-right: 30px;
      padding-left: 30px;

      @media (max-width: $lg) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    .nav-link {
      text-transform: uppercase;
    }

    &.show {
      @media (max-width: $lg) {
        transform: translate(0);
      }
    }
  }

  .navbar-toggler {
    border: none;
    background: none;
    display: none;

    @media (max-width: $lg) {
      display: block;
      z-index: 11;
    }

    span, span::before, span::after {
      display: block;
      background-color: $black;
      width: 40px;
      height: 3px;
      transition: background-color .15s ease-out, transform .15s ease-out;
    }

    span::before {
      content: "";
      transform: translateY(-10px);
    }

    span::after {
      content: "";
      transform: translateY(7px);
    }

    &.show {
      @media (max-width: $lg) {
        position: fixed;
        top: 38px;
        right: 15px;

        span {
          height: 0;
        }

        span::before {
          transform: translateY(-3px) rotate(-45deg);
        }

        span::after {
          transform: translateY(-6px) rotate(45deg);
        }
      }
    }
  }
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  transition: top .3s ease-out;

  &.hide {
    top: -80px;
  }
}